@import "bootstrap";
@import "bootstrap-responsive";

// Colors
$rvm_red: #9c1f1f;
$rvm_tan: #fafaf2;
$blue: blue;
$dark_grey: #555658;
$light_grey: #cccccc;
$white: white;

// Sticky Footer
$footer_height: 60px;
html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -$footer_height; /* match footer height */
}

#wrap > .container {
  padding-top: 40px;
}

#push, footer {
  height: $footer_height;
}

@media (max-width: 767px) {
  footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

// Application styles

body {
  background-color: $rvm_tan;
  font-family: $serifFontFamily;
}

h1, h2, h3, h4, h5, h6 { font-family: $sansFontFamily; }

h1 {
  text-align: center;
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  color: $rvm_red;
  border-bottom: 1px solid $light_grey;
}

a:link, a:visited, a:hover {
  text-decoration: none;
}

a:link, a:visited {
  color: $rvm_red;
}

a:hover {
  color: $blue;
}

p, pre {
  font-size: 1.1em;
}

pre {
  margin-left: 1em;
  margin-right: 1em;
  border: 1px solid $rvm_red;
  padding: 0.75em;
  overflow: auto;
  font-family: $monoFontFamily;
}

@mixin rounded_corners($radius: 15px) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

h1.title {
  margin-top: 0.5em auto 0 !important;
  padding: 0;
  color: $rvm_red;
}

h2.description {
  margin-top: 0 !important;
  padding: 0 5px 5px;
  text-align: center;
  color: $dark_grey;
}

article { }

footer {
  background-color: $rvm_red;
  color: $white;
}
footer > .container { display: table; }
footer p {
  height: $footer_height;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 1.5em;
}

footer p a:link, footer p a:visited {
  color: $white;
}

article ul#files li.file { list-style-type: none; }
