# This file goes in domain.com/config.ru

path = File.expand_path "../", __FILE__

require 'rubygems'
require 'bundler'

Bundler.require

set :env,  :development #:production
disable :run

require "#{path}/application"
run Sinatra::Application

