%h2 RVM::FW Contributors &amp; Sponsors

%p
  Huge thanks to the following contributors and sponsors that have helped make RVM::FW possible!

%h3 Contributors
%ul
  %li
    %a{:href => 'https://github.com/stevenhaddox'} stevenhaddox
  %li
    %a{:href => 'https://github.com/mindscratch'} mindscratch
  %li
    %a{:href => 'https://github.com/adamonduty'} adamonduty

%h3 Sponsors
%ul
  %li
    %a{:href => 'https://www.browserstack.com'} BrowserStack
