%ul#files.span-13
  %li.title.file
    %div.filename.span-6
      %h3 Ruby Filename
    %div.md5.span-6
      %h3 MD5 Hash
  - @rubies.each do |ruby|
    %li.file
      %div.filename.span-6
        %a{:href => "/rubies/#{ruby[:name]}"} #{ruby[:name]}
      %div.md5.span-6
        #{MD5_HASHES["#{ruby[:name]}"]}
