%ul#files.span-13
  %li.title.file
    %div.filename.span-6
      %h3 Ruby Filename
    %div.md5.span-6
      %h3 MD5 Hash
  - @rubies.sort.reverse.each do |filename, params|
    %li.file
      %div.filename.span-6
        %a{:href => "/rubies/#{params[:path_prefix]}#{filename}"} #{filename}
      %div.md5.span-6
        #{params[:md5]}
