%h2 What is RVM?

%p 
  RVM is "Ruby Version Manager" and can be found online at: 
  %a{:href=>'http://rvm.beginrescueend.com/'} http://rvm.beginrescueend.com
%p In short, RVM allows you to install and manage multiple Ruby versions side by side on the same box easily. It also provides a means to easily install "gemsets" allowing you to group your gems together by application, Rails version, etc.

  

