%html
  %head
    %title RVM::FW - Hidden Rubies for RVM
    %meta{'http-equiv'=>'Content-Type', :content=>'text/html; charset=utf-8'}
    %link{:href => '/stylesheets/screen.css', :media => 'screen, projection', :type => 'text/css', :rel => 'stylesheet'}
    %link{:href => '/stylesheets/print.css', :media => 'print', :type => 'text/css', :rel => 'stylesheet'}
    /[if lt IE 8]
      %link{:href => '/stylesheets/ie.css', :media => 'screen, projection', :type => 'text/css', :rel => 'stylesheet'}
    %link{:href => '/stylesheets/typography.css', :media => 'screen, projection', :type => 'text/css', :rel => 'stylesheet'}
    %link{:href => '/stylesheets/forms.css', :media => 'screen, projection', :type => 'text/css', :rel => 'stylesheet'}
    %link{:href => '/stylesheets/application.css', :media => 'all', :type => 'text/css', :rel => 'stylesheet'}
  
  %body
    %h1.title RVM::FW
    %h2.description 
      Exposing hidden Rubies for firewalled RVM's.
      %ul#menu
        %li.link
          %a{:href => "/"} Home
        %li.link
          %a{:href => "/db"} RVM::FW Config
        %li.link.last
          %a{:href => "/files"} Available Rubies
  
    .container
      = yield
