---
rvm-1.18.14.tar.gz:
  :md5: ef07d0373073113b9aaa0d2a00f64da1
  :path_prefix: packages/rvm/
  :url: https://github.com/wayneeseguin/rvm/archive/1.18.14.tar.gz
ruby-2.1.0.tar.bz2:
  :md5: 1546eeb763ac7754365664be763a1e8f
  :path_prefix: ruby-lang/2.1/
  :url: http://cache.ruby-lang.org/pub/ruby/2.1/ruby-2.1.0.tar.bz2
ruby-2.0.0-p353.tar.bz2:
  :md5: 20eb8f067d20f6b76b7e16cce2a85a55
  :path_prefix: ruby-lang/2.0/
  :url: http://cache.ruby-lang.org/pub/ruby/2.0/ruby-2.0.0-p353.tar.bz2
ruby-1.9.3-p484.tar.bz2:
  :md5: 03f5b08804927ceabe5122cb90f5d0a9
  :path_prefix: ruby-lang/1.9/
  :url: http://cache.ruby-lang.org/pub/ruby/1.9/ruby-1.9.3-p484.tar.bz2
ruby-1.9.2-p320.tar.bz2:
  :md5: b226dfe95d92750ee7163e899b33af00
  :path_prefix: ruby-lang/1.9/
  :url: http://cache.ruby-lang.org/pub/ruby/1.9/ruby-1.9.2-p320.tar.bz2
ruby-1.9.1-p431.tar.bz2:
  :md5: 03179138ae95dbfae872ef49e9cc6da7
  :path_prefix: ruby-lang/1.9/
  :url: http://cache.ruby-lang.org/pub/ruby/1.9/ruby-1.9.1-p431.tar.bz2
ruby-1.8.7-p374.tar.bz2:
  :md5: 83c92e2b57ea08f31187060098b2200b
  :path_prefix: ruby-lang/1.8/
  :url: http://cache.ruby-lang.org/pub/ruby/1.8/ruby-1.8.7-p374.tar.bz2
ruby-1.8.6-p420.tar.bz2:
  :md5: 1c7a978e9ffd4f56dc2ad74bbd2c34f3
  :path_prefix: ruby-lang/1.8/
  :url: http://cache.ruby-lang.org/pub/ruby/1.8/ruby-1.8.6-p420.tar.bz2
rubygems-2.1.11.tgz:
  :md5: b561b7aaa70d387e230688066e46e448
  :path_prefix: rubygems/
  :url: http://production.cf.rubygems.org/rubygems/rubygems-2.1.11.tgz
rubygems-1.8.25.tgz:
  :md5: 1376a258d43c53750a8df30e67853e10
  :path_prefix: rubygems/
  :url: http://production.cf.rubygems.org/rubygems/rubygems-1.8.25.tgz
rubygems-1.3.7.tgz:
  :md5: e85cfadd025ff6ab689375adbf344bbe
  :path_prefix: rubygems/
  :url: http://rubyforge.org/frs/download.php/70696/rubygems-1.3.7.tgz
jruby-bin-1.7.8.tar.gz:
  :md5: 1e68f39d6dba7b6d9db81e24bb6b7d0a
  :path_prefix: jruby/1.7.8/
  :url: http://jruby.org.s3.amazonaws.com/downloads/1.7.8/jruby-bin-1.7.8.tar.gz
jruby-bin-1.6.8.tar.gz:
  :md5: a76ac5845640e4a1ebdfa74421efc935
  :path_prefix: jruby/1.6.8/
  :url: http://jruby.org.s3.amazonaws.com/downloads/1.6.8/jruby-bin-1.6.8.tar.gz
rubinius-2.2.1.tar.bz2:
  :md5: 83c4d61d5fdb070d11babd867852277b
  :path_prefix: rbx/
  :url: http://releases.rubini.us/rubinius-2.2.1.tar.bz2
ruby-enterprise-1.8.7-2012.02.tar.gz:
  :md5: 8d086d2fe68a4c57ba76228e97fb3116
  :path_prefix: ree/
  :url: http://rubyenterpriseedition.googlecode.com/files/ruby-enterprise-1.8.7-2012.02.tar.gz
MacRuby 0.12.zip:
  :md5: e1c5fa1b007a1cdc38c527a47302bf5e
  :path_prefix: macruby/
  :url: https://github.com/downloads/MacRuby/MacRuby/MacRuby%200.12.zip
readline-6.2.tar.gz:
  :md5: 67948acb2ca081f23359d0256e9a271c
  :path_prefix: packages/readline/
  :url: ftp://ftp.cwru.edu/pub/bash/readline-6.2.tar.gz
readline-5.2.tar.gz:
  :md5: e39331f32ad14009b9ff49cc10c5e751
  :path_prefix: packages/readline/
  :url: ftp://ftp.gnu.org/gnu/readline/readline-5.2.tar.gz
libiconv-1.13.1.tar.gz:
  :md5: 7ab33ebd26687c744a37264a330bbe9a
  :path_prefix: packages/iconv/
  :url: http://ftp.gnu.org/pub/gnu/libiconv/libiconv-1.13.1.tar.gz
curl-7.19.7.tar.gz:
  :md5: ecb2e37e45c9933e2a963cabe03670ab
  :path_prefix: packages/curl/
  :url: http://curl.haxx.se/download/curl-7.19.7.tar.gz
openssl-1.0.1c.tar.gz:
  :md5: ae412727c8c15b67880aef7bd2999b2e
  :path_prefix: packages/openssl/
  :url: http://www.openssl.org/source/openssl-1.0.1c.tar.gz
openssl-0.9.8n.tar.gz:
  :md5: 076d8efc3ed93646bd01f04e23c07066
  :path_prefix: packages/openssl/
  :url: http://www.openssl.org/source/openssl-0.9.8n.tar.gz
zlib-1.2.7.tar.gz:
  :md5: 60df6a37c56e7c1366cca812414f7b85
  :path_prefix: packages/zlib/
  :url: http://downloads.sourceforge.net/project/libpng/zlib/1.2.7/zlib-1.2.7.tar.gz
autoconf-2.65.tar.gz:
  :md5: 46cfb40e0babf4c64f8325f03da81c9b
  :path_prefix: packages/autoconf/
  :url: ftp://ftp.gnu.org/gnu/autoconf/autoconf-2.65.tar.gz
ncurses-5.7.tar.gz:
  :md5: cce05daf61a64501ef6cd8da1f727ec6
  :path_prefix: packages/ncurses/
  :url: http://ftp.gnu.org/pub/gnu/ncurses/ncurses-5.7.tar.gz
pkg-config-0.23.tar.gz:
  :md5: d922a88782b64441d06547632fd85744
  :path_prefix: packages/pkgconfig/
  :url: http://pkgconfig.freedesktop.org/releases/pkg-config-0.23.tar.gz
gettext-0.17.tar.gz:
  :md5: 58a2bc6d39c0ba57823034d55d65d606
  :path_prefix: packages/gettext/
  :url: ftp://ftp.gnu.org/pub/gnu/gettext/gettext-0.17.tar.gz
libxml2-2.9.0.tar.gz:
  :md5: 5b9bebf4f5d2200ae2c4efe8fa6103f7
  :path_prefix: packages/libxml2/
  :url: ftp://xmlsoft.org/libxml2/libxml2-2.9.0.tar.gz
libxml2-2.7.3.tar.gz:
  :md5: 8f4fda3969237c2a33bdb1583b5d06b2
  :path_prefix: packages/libxml2/
  :url: ftp://xmlsoft.org/libxml2/libxml2-2.7.3.tar.gz
libxslt-1.1.26.tar.gz:
  :md5: e61d0364a30146aaa3001296f853b2b9
  :path_prefix: packages/libxslt/
  :url: ftp://xmlsoft.org/libxslt/libxslt-1.1.26.tar.gz
glib-2.23.1.tar.gz:
  :md5: ea32c834a8c7b166e05aeaaa41a021f4
  :path_prefix: packages/glib/
  :url: http://ftp.acc.umu.se/pub/gnome/sources/glib/2.23/glib-2.23.1.tar.gz
yaml-0.1.4.tar.gz:
  :md5: 36c852831d02cf90508c29852361d01b
  :path_prefix: packages/libyaml/
  :url: http://pyyaml.org/download/libyaml/yaml-0.1.4.tar.gz
